{% extends 'base.html' %}

{% load widget_tweaks %}

{% block box_body %}
    {#    {% if form.errors %}#}
    {#    {% for field in form %}#}
    {#        {% for error in field.errors %}#}
    {#            <div class="alert alert-danger">#}
    {#                <strong>{{ error|escape }}</strong>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    {% endfor %}#}
    {#    {% for error in form.non_field_errors %}#}
    {#        <div class="alert alert-danger">#}
    {#            <strong>{{ error|escape }}</strong>#}
    {#        </div>#}
    {#    {% endfor %}#}
    {#{% endif %}#}
    {{ form.errors }}

    <div class="box-body">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">

                <form action="{% url 'add_video' %}" method="POST">
                    {% csrf_token %}
                    <div class="box-body">
                        <label>Name</label>

                        <div class="form-group">
                            {% render_field form.name class+="form-control" placeholder+="Name" %}
                        </div>

                        <label>Source Video</label>

                        <div class="form-group">
                            {% render_field form.source_video class+="form-control" placeholder+="Source video" %}
                        </div>

                        <label>Category</label>

                        <div class="form-group">
                            {% render_field form.category class+="form-control" placeholder+="Category" %}
                        </div>
                        <label>Name Program</label>


                        <div class="form-group">
                            <select class="form-control" id="id_name_program" name="name_program">
                                <option value="" selected="selected">---------</option>
                                {% for choice in form.name_program.field.queryset %}
                                    <option value="{{ choice.pk }}"
                                            name="{{ choice.category }}">{{ choice.name }}</option>



                                {% endfor %}
                            </select>
                        </div>

                        <label>Title Episode</label>


                        <div class="form-group">
                            <select class="form-control" id="id_title_episode" name="title_episode">
                                <option value="" selected="selected">---------</option>
                                {% for choice in form.title_episode.field.queryset %}
                                    <option value="{{ choice.pk }}"
                                            name="{{ choice.name_program_id }}">{{ choice.name }}</option>


                                {% endfor %}
                            </select>
                        </div>

                        <label>Rating</label>

                        <div class="form-group">
                            {% render_field form.rating class+="form-control" placeholder+="Rating" %}
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{% url 'video_list' %}" class="btn btn-danger">Back </a>

                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.row -->
    </div>

{% endblock %}


{% block js %}
    <script>
        $(function () {
            $("#id_name_program").prop('disabled', true);

            $("#id_title_episode").prop('disabled', true);

            $('#id_category').change(function () {
                $("#id_name_program").val([]);
                $('#id_name_program option').hide()

                $("#id_name_program").prop('disabled', false);

                $('#id_name_program option[name="' + this.value + '"]').show()


            });

            $('#id_name_program').change(function () {


                $("#id_title_episode").val([]);
                $('#id_title_episode option').hide()

                $("#id_title_episode").prop('disabled', false);

                $('#id_title_episode option[name="' + this.value + '"]').show()


            });
        })
    </script>
{% endblock %}

