{% extends 'base.html' %}

{% block box_body %}
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Name Program</th>
                            <th>Title Episode</th>
                            <th style="width: 40px">Rating</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            {% for i in  object_list %}
                                <td> {{ forloop.counter }}</td>
                                <td>{{ i.name }}</td>
                                <td>
                                    {{ i.category }}
                                </td>
                                <td>
                                    {{ i.name_program }}
                                </td>
                                <td>
                                    {{ i.title_episode }}
                                </td>
                                <td><span class="badge bg-red">{{ i.rating }}</span></td>
                                <td>
                                    <a href=" {% url "video_delete" i.id %}">
                                        Delete
                                    </a>

                                </td>
                                </tr>
                            {% endfor %}

                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>

                        <a href="{% url 'add_video' %}" class="btn btn-success">Add </a>
                </div>


            </div>
        </div>

    </div>
{% endblock %}