{% extends 'base.html' %}
{% block box_body %}
    <div class="box-body">
        <div class="col-md-12">
            <form method="post">{% csrf_token %}
                Are you sure you want to delete "{{ object }}" ?
                <input type="submit" class="btn btn-default" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}

