{% extends 'base.html' %}

{% load widget_tweaks %}
{% block box_title %} Category {% endblock %}

{% block box_body %}
    <div class="box-body">
        <div class="box box-primary">
            <div class="col-md-12">
                <form action="{% url 'add_category' %}" method="POST">
                    {% csrf_token %}
                    <div class="box-body">
                        <label>Name</label>
                        <div class="form-group">
                            {% render_field form.name class+="form-control" placeholder+="Name" %}
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url 'category_list' %}" class="btn btn-default">Back</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}


