{% extends 'base_auth.html' %}
{% load widget_tweaks %}


{% block login %}

    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <div class="login-box-body">

            {% for key, value in form.errors.items %}
                {% if key != '__all__' %}{{ key }} {% endif %}{{ value }}
            {% endfor %}

            <p class="login-box-msg"></p>

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    {% render_field form.username class+="form-control" placeholder+="Username" %}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

                </div>
                <div class="form-group has-feedback">
                    {% render_field form.password class+="form-control" placeholder+="Password" %}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            </form>


{#            <a href="#">I forgot my password</a><br>#}
{#            <a href="register.html" class="text-center">Register a new membership</a>#}

        </div>
{% endblock %}