{% extends 'base.html' %}

{% load widget_tweaks %}
{% block box_title %} Title Episode {% endblock %}

{% block box_body %}
    <div class="box-body">
        <div class="box box-primary">
            <div class="col-md-12">
                <form action="{% url 'add_title_episode' %}" method="POST">
                    {% csrf_token %}
                    <div class="box-body">
                        <label>Name Program</label>
                        <div class="form-group">
                            {% render_field form.name_program class+="form-control" placeholder+="Name" %}
                        </div>

                        <label>Name</label>
                        <div class="form-group">
                            {% render_field form.name class+="form-control" placeholder+="Name" %}
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
