{% extends 'base.html' %}

{% load widget_tweaks %}
{% block box_title %} Name Program {% endblock %}


{% block box_body %}
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">No</th>
                            <th>Name Program</th>
                            <th>Title Episode</th>

                            <th>Action</th>
                        </tr>
                        <tr>
                            {% for i in  object_list %}
                                <td> {{ forloop.counter }}</td>
                                <td>{{ i.name_program}}</td>
                                <td>
                                    {{ i.name }}
                                </td>
                                <td>
                                    <a href=" {% url "title_episode_delete" i.id %}">
                                        Delete
                                    </a>

                                </td>
                                </tr>
                            {% endfor %}

                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                    <a href="{% url 'add_title_episode' %}" class="btn btn-success">Add </a>

                </div>


            </div>
        </div>

    </div>
{% endblock %}